/* Algemene reset en standaardinstellingen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.8s;
    font-family: "Poppins", "Merriweather", Tahoma, sans-serif;
}

#body-contactpage {
    padding-top: 80px;
    color: #F8F4E9;
    background-color: #8491A1;
}

#body-merchpage  {
    padding-top: 80px;
    color: #F8F4E9;
    background-color: #8491A1;
}

h1 {
    color: #2C486D;
    font-size: 36px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInText 1s 0.3s forwards;
}

p {
    color: #F8F4E9;
    max-width: calc(50% + 30px);
    font-size: 25px;
    opacity: 0;
    animation: fadeInText 1s 0.3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInField {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.contact_h1, .contact_p {
    text-align: center;
}

.styled-input {
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    opacity: 0;
    animation: fadeInField 1s 0.6s forwards;
}

.styled-input input,
.styled-input textarea {
    width: 100%;
    padding: 18px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #333;
    color: #F8F4E9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.styled-input input:focus,
.styled-input textarea:focus {
    outline: none;
    border-color: #2C486D;
    transform: scale(1.02);
}

.styled-input label {
    position: absolute;
    top: 20px;
    left: 25px;
    color: #F8F4E9;
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
    font-weight: 500;
    z-index: 1;
}

.styled-input input:focus ~ label,
.styled-input textarea:focus ~ label {
    top: -12px;
    font-size: 14px;
    color: #F8F4E9;
    transform: translateY(-10px);
    font-weight: 700;
    letter-spacing: 1px;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #1c2b64;
    color: #F8F4E9;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    background-color: #3d4b9e;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.submit-btn:active {
    transform: scale(0.98);
}

@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
        margin: 20px;
    }

    h1 {
        font-size: 30px;
    }
}
    @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      transition-duration: 0.8s;
    }
    body {
      padding-top: 80px;
      color: #4b4b4b;
      font-family: Arial, sans-serif;
    }
    .topbar {
      position: fixed;
      top: 20px;
      left: 20px;
      right: 20px;
      z-index: 9999;
      background-color: #000000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
    }

    .icon a:hover img {
      scale: 1.1;
    }

    nav ul {
      list-style: none;
      display: flex;
      align-items: center;
    }

    nav li {
      height: 60px;
      margin: 0 5px;
    }

    nav li a img {
      width: 100px;
      height: auto;
    }

    nav a {
      height: 100%;
      padding: 0 20px;
      border-radius: 8px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #4e4e4e;
      font-weight: bold;
      transition: background-color 0.3s, color 0.3s, linear scale 1.3s;
    }

    nav a:hover {
      color: white;
      transition: scale 0.5s;
      scale: 1.05;
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      background-color: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(12px);
      box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.2);
      list-style: none;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 10px;
      padding: 20px 0 20px 20px;
    }

    .sidebar li {
      width: 100%;
    }

    /* Standaard stijl voor de links in de sidebar */
    .sidebar a {
      width: 100%;
      font-size: 18px;
      padding: 15px;
      color: #333333;
      text-decoration: none;
      transition: color 0.5s linear, transform 0.5s linear;
    }

    .sidebar a:hover {
      background-color: #1c2b64;
      color: white;
      transition: color 0.5s linear, transform 0.5s linear;
      transform: translateX(10px); /* Verschuift de tekst 10px naar rechts bij hover */
    }

    /* Zorg ervoor dat de menu-knop goed zichtbaar is */
    .menu-button {
      display: block;
    }

    /* De knoppen voor het openen en sluiten van de sidebar */
    .bar li {
      padding: 0 10px;
      margin: 5px;
    }

    /* Veranderingen voor de show-knop (groen) */
    .menu-button svg path {
      fill: #333;
      transition: fill 0.1s ease;
    }

    .menu-button svg path:hover {
      fill: #ffffff;
    }

    /* Veranderingen voor de hide-knop (rood) */
    .hide-button svg path {
      fill: #333; /* Rood standaard */
      transition: fill 0.1s ease;
    }

    /* Bij hover wordt de kleur wit */
    .hide-button:hover svg path {
      fill: #ffffff; /* Wit bij hover */
    }

    /* Responsieve instellingen voor mobiel */
    @media(max-width: 400px) {
      .sidebar {
        width: 100%;
        right: 0px;
      }
    }

    @media(max-width: 800px) {
      .menu-button {
        display: block;
      }

      .hideOnMobile {
        display: none;
      }
    }

    @media(min-width: 801px) {
      .menu-button {
        display: none;
      }
      .sidebar {
        display: none !important;
      }
      .topbar .bar {
        display: flex;
      }
    }

    .title_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .page_title{
        text-align: center;
        padding: 10px 20px;
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
        font-size: 6vw;
    }

    .shop-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        padding: 20px 40px 20px 40px;
    }

    .product-card {
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .product-card img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .product-title {
        font-size: 1.2em;
        font-weight: bold;
    }

    .product-price {
        color: #28a745;
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    .product-content {
        font-size: 0.9em;
        color: #555;
    }

    .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px; /* Ruimte tussen afbeelding en andere elementen */
    flex-shrink: 0;
}

.title, .price, .description, .author {
  width: 100%; /* Zorgt ervoor dat de tekstblokken de volle breedte gebruiken */
  text-align: center; /* Zorgt voor gecentreerde tekst */
  margin-top: 5px;
    padding: 10px;
}

.price {
  background-color: #1c2b64;
  color: #ffffff;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
   margin-top: auto;
}

.price:hover {
  background-color: #3d4b9e;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 0.9em;
  color: #555;
}

.author {
  font-size: 0.8em;
  color: #888;
}


    @media (max-width: 768px) {
      .gallery {
        gap: 15px;
      }
      .image-container {
        width: 100%;
        max-width: 400px;
      }
    }
/* General footer styles */
.footer {
    background-color: #0B0F1A;
    color: #F8F4E9;
    padding: 20px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-contact,
.footer-social {
    margin: 10px;
    flex: 1;
    min-width: 250px;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 1.4em;
    border-bottom: 2px solid #2C486D;
    padding-bottom: 5px;
}

.footer a {
    color: #8491A1;
    text-decoration: none;
    transition: color 0.3s;
    display: block;
    margin-bottom: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: #F8F4E9;
}

.social-icon {
    display: inline-block;
    margin: 0 8px;
    font-size: 1.2em;
    color: #8491A1;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #F8F4E9;
}

.body-home-page {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}
.front_page {
    text-align: center;
    padding: 40px 20px;
    background-color: #3a536b;

    color: #fff;
}

.front_page h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.front_page .search-bar {
    margin-top: 20px;
}

.front_page .search-bar input {
    padding: 10px;
    width: 60%;
    max-width: 400px;
    margin-right: 10px;
}

.front_page .search-bar button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.featured-games, .latest-reviews {
    padding: 40px 20px;
    text-align: center;
}

.featured-games h2, .latest-reviews h2 {
    margin-bottom: 10px;
}

.featured-games .game-list, .latest-reviews .reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.featured-games .game, .latest-reviews .review {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

.featured-games .game img, .latest-reviews img {
    width: 100%;
    border-radius: 5px;
}
